@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoSlab-VariableFont_wght.ttf');
  font-weight: 400;
  font-style: normal;
}

header {
  background: transparent;
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 20px;
  flex-wrap: wrap;
}
.topicon {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}
.topicon img {
  height: 30px;
}
header img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
.logo-top {
  display: flex;
  align-items: flex-start;
  justify-content: start;
}
.logo-top img {
  height: 60px;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
nav ul li a {
  text-decoration: none;
  color: black;

  border-radius: 40px;
  padding: 5px 10px;
  transition: background-color 0.4s ease, box-shadow 0.4s ease, color 0.3s ease;
}
nav ul li a:hover {
  background-color: #686a6b54;
  border: none;
  color: white;
  box-shadow: 0 0 10px rgba(162, 163, 165, 0.678);
}
.search-form {
  margin-top: 0px;
  display: flex;
  gap: 8px;
  width: 100%;
  max-width: 400px;
}
.search-form input[type='search'] {
  background-color: transparent;
  flex: 1;
  max-width: 100%;
  min-width: 0;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 40px;
}
.search-form button {
  white-space: nowrap;
  padding: 5px 10px;
  border: 1px solid #646464;
  background-color: transparent;
  color: black;
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 0.4s ease, box-shadow 0.4s ease, color 0.3s ease;
}
.search-form button:hover {
  background-color: #686a6b54;
  transform: scale(1.05);
  color: white;
  box-shadow: 0 0 10px rgba(162, 163, 165, 0.678);
}
hr {
  border: none;
  border-top: 1px solid #ccc;
}
.foter {
  background: transparent;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
}
footer p {
  order: 1;
}
.footerlinks {
  order: 2;
}
.footerlinks1 {
  order: 3;
}
.footercontact {
  order: 4;
}

.footerlinks h3 {
  margin-bottom: 10px;
  text-align: center;
}
.footerlinks ul {
  align-items: center;
  flex-direction: column;
  list-style-type: none;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
.footerlinks ul li a {
  text-decoration: none;
  color: black;
  border-radius: 40px;
  padding: 5px 10px;
  transition: background-color 0.4s ease, box-shadow 0.4s ease, color 0.3s ease;
}
.footerlinks ul li a:hover {
  background-color: #686a6b54;
  border: none;
  color: white;
  box-shadow: 0 0 10px rgba(162, 163, 165, 0.678);
}
.footerlinks1 h3 {
  margin-bottom: 10px;
  text-align: center;
}
.footerlinks1 ul {
  align-items: center;
  flex-direction: column;
  list-style-type: none;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
.footerlinks1 ul li a {
  text-decoration: none;
  color: black;
  border-radius: 40px;
  padding: 5px 10px;
  transition: background-color 0.4s ease, box-shadow 0.4s ease, color 0.3s ease;
}
.footerlinks1 ul li a:hover {
  background-color: #686a6b54;
  border: none;
  color: white;
  box-shadow: 0 0 10px rgba(162, 163, 165, 0.678);
}
.footercontact {
  display: flex;
  gap: 25px;
}
.footercontact img {
  height: 30px;
}

.footercontact img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
.menu-icon {
  display: none;
}
@media (max-width: 768px) {
  footer p {
    order: 4;
  }
  .footerlinks {
    order: 1;
  }
  .footerlinks1 {
    order: 2;
  }
  .footercontact {
    order: 3;
  }

  nav {
    display: none;
  }
  .search-form {
    display: none;
  }
  .topicon {
    display: none;
  }
  .menu-icon {
    display: block;
    width: 30px;
  }
  .menu-icon img {
    width: 100%;
  }
}
