* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(
    to right,
    hsla(178, 34%, 86%, 1) 0%,
    hsla(180, 25%, 92%, 1) 64%,
    hsla(190, 27%, 96%, 1) 100%
  );
  padding: 20px;
}
header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
}
.topicon {
  display: flex;
  gap: 25px;
}
nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;

  border-radius: 40px;
  padding: 5px 10px;
  transition: background-color 0.4s ease, box-shadow 0.4s ease, color 0.3s ease;
}
nav ul li a:hover {
  background-color: #89c8f2;
  border: none;
  color: white;
  box-shadow: 0 0 10px rgba(0, 86, 179, 0.5);
}
.search-form {
  margin-top: 10px;
}
.search-form input[type='search'] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.search-form button {
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
.search-form button:hover {
  background-color: #0056b3;
}
