.product {
  width: auto;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 10px;
  margin: 20px 50px;
  width: 100%;
  box-sizing: border-box;
}
.container1 {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}
.product-image {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}
.product-image img {
  width: 100%;
  height: auto;
  display: block;
}
.moreimage {
  display: flex;

  gap: 20px;
}

.container2 {
  border: 1px solid black;
}

.container3 {
  border: 1px solid black;
  grid-column: 1 / span 2;
}
