main {
  font-family: 'Cause', sans-serif;
}
.reclama {
  display: block;
  margin: auto;
  max-width: 100%;
  border-radius: 20px 20px 0 0;
  width: 90%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 5%;

  position: relative;
}
.reclama img {
  border-radius: 20px 20px 0 0;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
#link1 {
  background-color: #d3c1c1;
  text-decoration: none;
  color: #520202c5;
  font-weight: bold;

  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 24px;
  border: #000 1px solid;
  border-radius: 40px;
  padding: 1%;
}
#link1:hover {
  background-color: #686a6b54;

  color: white;
  box-shadow: 0 0 10px rgba(162, 163, 165, 0.678);
}

.text {
  display: flex;
}
#text1 {
  text-align: center;
  font-size: 18px;
  width: 100%;
  font-weight: bold;
  font-size: 24px;
  color: black;
}
.product-grid {
  margin-left: 4%;
  margin-right: 4%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  padding: 20px;
}

.product-card {
  border: 1px solid #b7b2ac;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  padding: 0px;
  text-align: center;
  background-color: none;
}
.product-card img {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  max-width: 100%;
  margin-top: 15px;
  width: 90%;
  height: auto;
}
.product-card h3 {
  margin: 10px 0;
  font-size: 18px;
  color: #333;
}
.product-card button {
  background-color: #eee9e9;
  width: 90%;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid #646464;
  background-color: none;
  color: black;
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 0.4s ease, box-shadow 0.4s ease, color 0.3s ease;

  padding: 10px 15px;

  cursor: pointer;
}
.product-card button:hover {
  background-color: #686a6b54;

  color: white;
  box-shadow: 0 0 10px rgba(162, 163, 165, 0.678);
}
.product-card p {
  color: #000000;
  font-size: 14px;
}
.reclama2 {
  margin: auto;
  display: block;
  width: 90%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}
.reclama2 img {
  border-radius: 0 0 20px 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
.reclama2 a {
  background-color: #d3c1c1;
  text-decoration: none;
  color: #520202c5;
  font-weight: bold;

  position: absolute;
  bottom: 10%;
  right: 10%;
  font-size: 24px;
  border: #000 1px solid;
  border-radius: 40px;
  padding: 1%;
}
.reclama2 a:hover {
  background-color: #686a6b54;

  color: white;
  box-shadow: 0 0 10px rgba(162, 163, 165, 0.678);
}
.reclama2 h2 {
  text-decoration: none;
  color: white;
  font-weight: bold;
  display: inline-block;
  position: absolute;
  top: 10%;
  left: 70%;
  font-size: 24px;
}
