main {
  font-family: 'Cause', sans-serif;

  width: 100%;
  max-width: 1400px;
  align-items: center;
  margin: 0 auto;
}

.reclama {
  background-image: url(../img/reclama1.png);
  height: 70vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  /* display: block; 
  margin: auto;
  max-width: 100%;
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;

  position: relative;*/
}
.reclama::after {
  content: '';
  position: absolute;
  inset: 0;
  pointer-events: none;

  backdrop-filter: blur(10px); /* blur efectiv */
  -webkit-backdrop-filter: blur(10px);

  /* zona centrala clară, marginile blurate */
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 0%,
    /* stânga blurată */ rgba(0, 0, 0, 0) 25%,
    /* centru începe să fie clar */ rgba(0, 0, 0, 0) 75%,
    /* centru clar */ rgba(0, 0, 0, 1) 100% /* dreapta blurată */
  );
}
@media (max-width: 768px) {
  .reclama {
    height: 50vh;
    min-height: 300px;
    background-attachment: scroll;
  }

  .reclama::after {
    backdrop-filter: blur(6px); /* mai subtil pe mobile */
  }
}

.reclama img {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  max-width: 100%;
}
#link1 {
  background-color: rgba(0, 0, 0, 0.4);
  text-decoration: none;
  color: white;
  font-weight: bold;

  position: absolute;
  bottom: 15%;
  right: 10%;

  border: #000 1px solid;
  border-radius: 40px;
  padding: 1%;
}
#link1:hover {
  background-color: #686a6b54;
  transform: scale(1.05);
  color: black;
  box-shadow: 0 0 10px rgba(162, 163, 165, 0.678);
}

.text {
  display: flex;
}
#text1 {
  text-align: center;

  width: 100%;
  font-weight: bold;
  font-size: 1.5rem;
  color: black;
}
.product-grid {
  margin-left: 4%;
  margin-right: 4%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  padding: 20px;
}

.product-card {
  border: 1px solid #b7b2ac;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  padding: 0px;
  text-align: center;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.product-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);
}
.product-card img {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  max-width: 100%;
  margin-top: 15px;
  width: 90%;
  height: auto;
}
.product-card h3 {
  margin: 10px 0;

  color: #333;
}
.product-card button {
  background-color: rgba(0, 0, 0, 0.4);
  width: 90%;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid #646464;
  background-color: none;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.4s ease, box-shadow 0.4s ease, color 0.3s ease;

  padding: 10px 15px;

  cursor: pointer;
}
.product-card button:hover {
  background-color: #686a6b54;

  color: white;
  box-shadow: 0 0 10px rgba(162, 163, 165, 0.678);
}
.product-card p {
  color: #000000;
}
.reclama2 {
  background-image: url(../img/reclama2.png);
  height: 70vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.reclama2::after {
  content: '';
  position: absolute;
  inset: 0;
  pointer-events: none;

  backdrop-filter: blur(10px); /* blur efectiv */
  -webkit-backdrop-filter: blur(10px);

  /* zona centrala clară, marginile blurate */
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 0%,
    /* stânga blurată */ rgba(0, 0, 0, 0) 25%,
    /* centru începe să fie clar */ rgba(0, 0, 0, 0) 75%,
    /* centru clar */ rgba(0, 0, 0, 1) 100% /* dreapta blurată */
  );
}
.reclama2 img {
  border-radius: 0 0 20px 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
  .reclama2 {
    height: 50vh;
    min-height: 300px;
    background-attachment: scroll;
  }

  .reclama2::after {
    backdrop-filter: blur(6px); /* mai subtil pe mobile */
  }
}

.reclama2 a {
  background-color: transparent;
  text-decoration: none;
  color: white;
  font-weight: bold;

  position: absolute;
  bottom: 10%;
  right: 10%;

  border: #000 1px solid;
  border-radius: 40px;
  padding: 1%;
}
.reclama2 a:hover {
  background-color: #686a6b54;
  transform: scale(1.05);
  color: black;
  box-shadow: 0 0 10px rgba(162, 163, 165, 0.678);
}
.reclama2 h2 {
  text-decoration: none;
  color: white;
  font-weight: bold;
  display: inline-block;
  position: absolute;
  top: 10%;
  left: 70%;
}
