* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(135deg, #635d51, #e4dcc19a);
  height: 100vh;
}

header {
  padding: 20px;
}

/* --- RÂNDUL 1 --- */
.top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo în stânga */
.logo {
  margin-left: 40px;
  display: flex;
  align-items: center;
}

/* Search bar în centru */
.search-bar {
  flex: 1; /* permite centrare între logo și icons */
  display: flex;
  justify-content: center;
}

/* Stil pentru input */
.search-bar input {
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #555;
}

.search-bar button {
  padding: 8px 12px;
  margin-left: 5px;
  cursor: pointer;
}

/* User icons în dreapta */
.user-icons {
  display: flex;
  gap: 15px;
  margin-right: 40px;
  align-items: center;
}

/* --- RÂNDUL 2 - MENIU --- */

.nav-links {
  border: 2px solid #000;
  padding: 1% 2%;
  margin-top: 0px;
  margin-left: 0px; /* se aliniază sub logo */
}

.nav-links ul {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  margin-right: 25px;
}

.nav-links a {
  text-decoration: none;
  font-size: 18px;
  color: #000;
  font-weight: 500;
}

.nav-links a:hover {
  opacity: 0.6;
}
